.user-menu li{
	display:inline-block;
	margin: 0 10px;
}

.user-menu li:last-child{
	margin-right: 0; 
}

.panel-heading .close{
	margin-top:10px
}
.configuration .panel-body{
	transition: all 1s ease;
	overflow:hidden;
}
.configuration .panel-body.status-up{
	max-height:500px;
}
.configuration .panel-body.status-down{
	max-height:0px;
	padding-bottom:0;
}

.copyright{
	color: #888;
	font-size:0.9em;
}

.btn-large{
	font-size:1.3em;
	padding:10px 20px;
}